# Ignore everything
/*

# Don't ignore the requirements.txt nor XNAT_Schema.xml file
!/requirements.txt
!/XNAT_Schema.xml
!/.gitignore

# Don't ignore the tests director in src nor the main files necessary for running the repo
!/src/tests/*
!/main.py
!/src/DataTypes.py
!/src/Utilities.py

# Don't ignore the 'tmp' directory but do ignore everything within the 'tmp' directory
!/data/tmp  
/data/tmp/*
!/data/image_templates/*

# Definitely ignore meta_tables.json -- only the librarian should be manging changes to this.
/meta_tables.json



