backcall==0.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
lxml==5.2.1
numpy==1.24.4
opencv-python==4.9.0.80
pandas==2.0.3
pathlib==1.0.1
pickleshare==0.7.5
pure-eval==0.2.2
pydicom==2.4.4
Pygments==2.17.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pyxnat==1.6.2
pyzmq==26.0.0
requests==2.31.0
six==1.16.0
tornado==6.4
traitlets==5.14.2
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.18.1
